*{
    margin:0px;
    padding: 0px;
}
.watch{
    background-image:linear-gradient(to left,rgb(113, 231, 45),rgb(141, 233, 56));
    height:100px;
    border-radius:10px;
    font-size: 25px;
}
.backpack{
    background-image:linear-gradient(to left,rgb(197, 83, 93),rgb(133, 70, 104));
    height:100px;
    border-radius:10px;
    font-size: 25px;
}
.shoes{
    background-image:linear-gradient(to left,rgb(128, 56, 223),rgb(132, 116, 223));
    height:100px;
    border-radius:10px;
    font-size: 25px;
}
.card{
    box-shadow: 3px 5px 10px black;
    border: none;
    outline: none;
}
.card img{
    height: 200px;
}
.contact{
    min-height:250px ;
    border-radius: 10px;
}
